<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.paradoxo.hifood">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.HiFoodApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HiFood"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.FormularioProdutoComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_formulario_produto_compose"
            android:theme="@style/Theme.HiFood">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.ListaProdutosComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_lista_produtos_compose"
            android:theme="@style/Theme.HiFood">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/Theme.HiFood.NoActionBar" />
        <activity
            android:name=".ui.activity.FormularioProdutoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DetalhesProdutoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.FormularioCadastroUsuarioActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.ListaProdutosActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.DetalhesProdutoComposeActivity" />
        <activity
            android:name=".ui.activity.LoginComposeActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.activity.NewHomeActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>